# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~ 

# Backup files
*.bak

# Unused image directories
zoomed_segments/
better_segments/
high_res_segments/
new_segment_images/ 